*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');

.main{
    width: 100%;
    height: 100vh;
    background: url('../nature.jpg');
    background-size: cover;
    color: white;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.3);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.title{
    color: white;
    font-size: 2.5rem;
}
.col{
    margin-top: 20px;
    width: 1000px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid red;
    text-align: center;
}
input{
    width: 60%;
    height: 50px;
    display: block;
    background-color: bisque;
    border-radius: 8px;
    text-align: center;
    font-size: 25px; 
}
label{
    border: 2px solid white;
    position: relative;
    top: 10px;
    right: 50px;
}

